/* base css code */


.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.header img {
    max-width: 60px;
    margin: 0;
    padding: 0;
    grid-column: 1;
    grid-row: 1/2;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    grid-column: 2;
    grid-row: 1;
    margin-top: 5px;
    margin-bottom: -10px;
    padding: 0;
}
#sub-heading {
    grid-column: 2/4;
    grid-row: 2;
    margin-top: -10px;
    margin-bottom: 10px;
}
h2 {
    color: #F5841B;
    text-align: center;
}

h3, div p {
    text-align: center;
}
div hr {
    display: block;
    height: 1px;
    width: 90%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 1em;
    padding: 0;
}

body {
    background-color: #f8f6ed;

}
#social1 img, #social2 img {
    width: 25px;

}
#social1 {
    grid-column: 4;
    grid-row: 1;
    margin-top: 10px;
}
#social2 {
    grid-column: 5;
    grid-row: 1;
    margin-top: 10px;
}

.date {
    border: 1px solid black;
    text-align: center;
    grid-column: 1/7;
    grid-row: 3;
    background-color: orange;
    padding: .5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.header nav {
    grid-column: 6;
    grid-row: 1;

}
#hamburger {
    font-size: 2rem;
    text-decoration: none;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav ul li {
    border: 1px gray;
}
nav ul li a {
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
}
a:hover {
    background-color: orange;
}

nav ul {display:none;}
nav ul.open {display:block;}



.current-date {
    padding: 1rem;
}

.hero-box, .event-box, .weather-box, .news-box {
    padding: 0;
    border: 1px solid #CCC;
    margin: .5rem;
}
.weather-box {
    width: 80%;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.hero-box {
    position: relative;
}
main img {
    width: 95%;
    margin: 2.5%;
}
.hero-box h2 {
    position: absolute;
    top: 5px;
    left: 15px;
}
.hero-box button {
    position: absolute;
    bottom: 1.5rem;
    left: 4rem;
    background-color:#F5841B;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid black;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.8;
}
.spotlight-box {
    padding: 1rem;
    border: 1px solid #CCC;
    margin: .5rem;
    display: grid;
    grid-template-columns: 1fr;
}
.spot1, .spot2 {
    margin: 0;
    border: 1px solid #CCC;
    max-width: 95%;
}
.spot1 {
    grid-column: 1/2;
    grid-row: 1;
}
.spot2 {
    grid-column: 1/2;
    grid-row: 2;
}
main .join-box, .spot3 {
    display: none;
}
footer {
    display: flex;
    flex-direction: column;
}
footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.logo {
    width: 175px;
    padding: 0 20%;
    margin: 20px;
}
footer hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

}
