@media only screen and (min-width: 760px) {

    .header img {
        width: 85px;
    }
    .header h1 {
        font-size: 3rem;
    }
    .header {
        justify-content: space-around;
    }
    #hamburger {
        font-size: 3rem;
    }
    .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 96vw;
        gap: 2vw;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.3rem;
        margin: .5rem;
    }
    .weather-data {
        grid-column: 1/2;
        flex-direction: column;
        border: 1px solid #69995D;
        justify-content: space-evenly;
    }
    .weather-data hr {
        display: revert;
    }
    .main-grid img {
        border-radius: 7px;
        margin: 5px;
    }
    .weather-title {
        display: block;

    }
    .drink {
        grid-column: 2/4;
        grid-row: 1;
    }
    .location-info {
        grid-row: 2;
        grid-column: 1/4;
    }
    .store {
        grid-row: 3;
        grid-column: 1/4;
    
    }
    .store p, .trucks p, .location-info p {
        text-align: left;
    }
    .store img{
        float: left;
        max-width: 60%;
    }
    .trucks {
        grid-row: 4;
        grid-column: 1/4;
    }
    .trucks img {
        max-width: 60%;
        float: right;
    }
    .business-info {
        grid-column: 1/4;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer p {
        font-size: 1.2rem;
    }
    #large-footer ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-around;
    }
    
    .img1 {
        float: right;
        max-width: 450px;
        margin: 1rem;
    }
    .img2 {
        float: left;
        max-width: 450px;
        margin: 1rem;
    }
}